body{
	color: #333333;
	background-color: #ffffff;
  font-family: "Courier New", Consolas, monospace;
	padding: 10px;
}

h1 {
	font-size: 30px;
	border-left: 6px solid #D8D8D8;
	padding-left: 10px;
}

#info {
  font-family: "Courier New", Consolas, monospace;
	font-size: 20px; 
	font-weight: bold;
	color: rgba(255, 180, 0, 0.7);
	margin-top: 20px; 
}
